body {
    font-family: "dinosaur", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    margin: 0px;
    background-color: #F6EACB ;
}

h1, h2 {
    font-family: "interstate-mono", monospace;
    font-weight: 400;
    font-style: normal;
}

h1{
    color: white;
}

p {
    margin: 0 4em 0 1em;
    color: #264653; 
}

li img {
    width: 1.8em;
    height: auto;
}

li:nth-last-of-type(1) img {
    width: 2.5em;
}

li {
    list-style: none;
    margin: 0.3em;
    text-align: center;
}

nav li:nth-of-type(2) {
    margin: 1em 0.3em;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: #E76F51;
    position: fixed;
    right: 0;
    top: 25em;
    border-radius: 0.5em 0 0 0.5em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

nav ul {
    margin: 0;
    padding: 0.5em;
}

/* INDEX */
/* foto's*/

header img {
    width: 19.1em;
    margin-bottom: 2em;
}

.index main img {
    width: 5em;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 15em;
}

.verticale-lijnindex {
    border: 0.11em solid #E76F51;
    width: 38em;
    transform: rotate(90deg);
    margin: 0;
    position: absolute;
    left: -0.7em;
    top: 36.52em;
}

/*tekst*/

.index h1 {
    margin-bottom: 0.4em;
    font-size: 2.5em;
}

.index header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #264653;
    margin-bottom: 3em;
}

.rood {
    color: #E24D28;
}

.index h2 {
    font-size: 1.8em;
    color: #E76F51;
    margin: 0;
}

.wih-lijn {
    border: 0.11em solid #E76F51;
    width: 7.1em;
    margin-top: 1em;
    margin-left: 0.65em;
}

.wat-is-het {
    display: flex;
    margin: 1.5em 0 0.75em 1em;
}

.index p:not(.index main p:nth-child(2)){
   margin-bottom: 1em;
}

/* Gemeenschappen */
/* foto's */

.gemeenschappen main img {
    width: 5.6em;
}

.verticale-lijn-gem {
    border: 0.11em solid #E76F51;
    width: 73.6em;
    transform: rotate(90deg);
    margin: 0;
    position: absolute;
    top: 0;
    left: -18.45em;
}

/* tekst */
.gemeenschappen h1 {
    font-size: 1.55em;
    border-radius: 0 0.55em 0.55em 0;
    background-color: #264653;
    padding: 0.7em 0.5em;
    margin-right: 2em;
}

.gemeenschappen p {
    font-size: 0.7em;
    color: white;
    margin-right: 0;
}

.gemeenschappen h3 {
    margin-left: 0.6em;
    margin: 0 0 0.1em 0.6em;
    font-size: 1.11em;
    color: white;
}

.gemeenschappen section {
    display: flex;
    box-shadow: 0 0.22em 0.22em rgba(0, 0, 0, 0.15);
    border-radius: 0.55em;
    margin: 2em 4.3em 2em 1.3em;
    padding: 1em;
}

.fietskliniekvak {
    background-color: #E76F51;
}

.clothesswapvak {
    background-color: #F4A261;
}

.werepairvak {
    background-color: #DFAC2A;
}

.gemeenschappen a {
    text-decoration: none;
}

/* Fietskliniek */
/* foto's */

.kwartwiel {
    width: 4.36em;
    position: absolute;
    top: 0;
    right: 0;
}

.fiets-lijn {
    border: 0.11em solid #E76F51;
    width: 5.2em;
    margin: 1.1em 0 0 0.5em;
    position: absolute;
    z-index: 2;
}

.fietsenrij1 {
    display: block;
    margin: 1em 0;
    width: 19em;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.fietsenrij2 {
    display: block;
    margin: 1.5em 0;
    width: 19em;
    margin-left: auto;
    margin-right: auto;
}

div[class^=diy-lijn] {
    border: 0.11em solid #E76F51;
    width: 3.75em;
    margin: 0.95em 0 0 0;
}

.diy {
    display: flex;
    justify-content: center;
    margin: 1.5em 0 1em 0;
}

.halfwiel {
    width: 5em;
    padding-bottom: 6.5em;
}

.verticale-lijnfiets {
    border: 0.11em solid #E76F51;
    width: 130.5em;
    transform: rotate(90deg);
    margin: 0;
    position: absolute;
    top: 0;
    left: -46.95em; 
}

/* tekst */

.fietskliniek h1{
    font-size: 1.94em;
    color: #E76F51;
    margin: 0;
}

.fietskliniek header {
    display: flex;
    margin: 2em 0 0.75em 1em;
}

.fietskliniek h2 {
    font-size: 1.7em;
    margin: 0 0.2em;
    color: #E76F51;
}

.plaatje-tekst {
    display: flex;
    margin: 1.27em 0 1em 0;
}

.plaatje-tekst p {
    margin: 0 4.4em 0 1em;
}

.fietskliniek p:nth-last-of-type(3) {
    font-size: 1.27em
}

.fietskliniek p:nth-last-of-type(2) {
    font-size: 1.1em;
    margin: 0.2em 0 0 5em;
}

.fietskliniek main > p:last-of-type {
    margin-left: 8em;
}
    