body {
    font-family: "dinosaur", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    margin: 0px;
    background-color: #F6EACB ;
}

h1, h2 {
    font-family: "interstate-mono", monospace;
    font-weight: 400;
    font-style: normal;
}

h1{
    color: white;
    font-size: 2.5em;
    }

p {
    margin: 0 4em 0 1em;  
}

li img {
    width: 1.8em;
    height: auto;
}

li:nth-last-of-type(1) img {
    width: 2.5em;
}

li {
    list-style: none;
    margin: 0.3em;
    text-align: center;
}

nav li:nth-of-type(2) {
    margin: 1em 0.3em;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: #E76F51;
    position: fixed;
    right: 0;
    top: 25em;
    border-radius: 0.5em 0 0 0.5em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

nav ul {
    margin: 0;
    padding: 0.5em;
}

/* INDEX */
/* foto's*/

/* .index {
    background-image: url(../images/index/achtergrond-index.png);
} */

header img {
    width: 19.1em;
    margin-bottom: 2em;
}

.index main img {
    width: 5em;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 15em;
}

.verticale-lijnindex {
    border: 0.16em solid #E76F51;
    width: 38em;
    transform: rotate(90deg);
    margin: 0;
    position: absolute;
    left: -0.7em;
    top: 36.5em;
}

/*tekst*/

.index h1 {
    margin-bottom: 0.4em;
}

.index header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #264653;
}

.rood {
    color: #E24D28;
    margin-top: 3em;
}

.index h2 {
    font-size: 1.8em;
    color: #E76F51;
    margin: 0;
}

.wih-lijn {
    border: 0.16em solid #E76F51;
    width: 7em;
    margin-top: 1em;
    margin-left: 0.65em;
}

.wat-is-het {
    display: flex;
    margin: 1.5em 0 0.75em 1em;
}

.index p:not(.index main p:nth-child(2)){
   color: #264653;
   margin-bottom: 1em;
}

/* Gemeenschappen */



