body {
    font-family: "dinosaur", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    margin: 0px;
    background-color: #F6EACB ;
}

h1, h2 {
    font-family: "interstate-mono", monospace;
    font-weight: 400;
    font-style: normal;
}

h1{
    color: white;
    font-size: 2.5em;
    }

/* INDEX */
/* foto's*/

header img {
    width: 19.1em;
    margin-bottom: 1em;
}

/*tekst*/

.index header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #264653;
}

.index p:nth-of-type(1) {
    color: #E24D28;
    margin-top: 1em;
}

.index h2 {
    font-size: 2em;
    color: #E76F51;
    margin: 1em 0 0 0.5em;

}

.index p{
   margin: 0 0 0 1em; 
   color: #264653;
}